{% extends 'base.html.twig' %}

{% block title %}Evento index{% endblock %}

{% block body %}
    <h1>Evento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvento</th>
                <th>CostoEvento</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.idEvento }}</td>
                <td>{{ evento.costoEvento }}</td>
                <td>{{ evento.fecha ? evento.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_evento_show', {'idEvento': evento.idEvento}) }}">show</a>
                    <a href="{{ path('app_evento_edit', {'idEvento': evento.idEvento}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evento_new') }}">Create new</a>
{% endblock %}
